@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav-main {

    background-color: none;
    height: 9rem;
    
    .nav-menu{
        display: flex;
        align-items: center;
    }

    .nav-brand{
        margin-top: -.7rem;
        width: 10rem;
    }

    .nav-ref, .inicioSesion{
        width: 100%;
        a{
            color: v.$blanco;
            margin: 0,;
            padding-left: 2.1rem;
            &:hover,
            &.active {
                color: v.$verde;
            }
        }
    }

    .nav-ref{
        margin-left: 3rem;
    }

    .inicioSesion{
        margin-right: 5rem;
        text-align: end;
    }
    

}